                            /* Break point 2561px */

@media screen  and (max-width:2561px){
    /* body{
        overflow: hidden;
    } */
    header{
        width: 100%;
        height: 30vh;
    }

    .logo img{
        position: relative;
        width: 100%;
        height: 35vh;
        
    }
    .element1{
        top: 0.01rem;
        left: 120px;
        width: 700px;
        height: 2rem;
    }
    .headerDesp{
        width: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .element2{
    
        top: 25vh;
        right: 0px;
        width: 500px;
        height: 2rem;
        background-color: #292929;
    }
    .headerDesp h1{
        font-size: 4vw;
        font-weight: 600;
    }
}

                         /* Break point 1441px */

@media screen  and (max-width:1441px){
    /* body{
        overflow: hidden;
    } */
    header{
        width: 100%;
        height: 25vh;
       
    }

    .logo img{
        position: relative;
        width: 100%;
        height: 28vh;
        
    }
    .element1{
        top: 0.01rem;
        left: 120px;
        width: 400px;
        height: 1.5rem;
       
    }
    .headerDesp{
        width: 70%;
       
    }
    .element2{
    
        top: 21vh;
        right: 0px;
        width: 300px;
        height: 1.5rem;
        background-color: #292929;
    }
    .headerDesp h1{
        font-size: 4vw;
        font-family: sans-serif;
        color: #292929;
        font-weight: 600;
    }
}

                         /* Break point 1045px */

@media screen  and (max-width:1045px){
    /* body{
        overflow: hidden;
    } */
    header{
        width: 100%;
        height: 25vh;
    }

    .logo img{
        position: relative;
        width: 100%;
        height: 28vh;
        
    }
    .element1{
        top: 0.01rem;
        left: 120px;
        width: 300px;
        height: 1.5rem;
       
    }
    .headerDesp{
        width: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .element2{
    
        top: 22vh;
        right: 0px;
        width: 200px;
        height: 1.5rem;
      
    }
    .headerDesp h1{
        font-size: 4vw;
        font-family: sans-serif;
        color: #292929;
        font-weight: 600;
    }
}

                         /* Break point 769px */

@media screen  and (max-width:769px){
    /* body{
        overflow: hidden;
    } */
    header{
        width: 100%;
        height: 25vh;
    
    }

    .logo img{
        position: relative;
        width: 100%;
        height: 28vh;
        
    }
    .element1{
        top: 0.01rem;
        left: 120px;
        width: 300px;
        height: 1rem;
        
    }
    .headerDesp{
        width: 70%;
    }
    .element2{
    
        top: 22vh;
        right: 0px;
        width: 200px;
        height: 1rem;
       
    }
    .headerDesp h1{
        font-size: 4vw;
        font-weight: 600;
    }
    .sameDes{
        font-size: 4vw;
    }
}

                     /* Break point 426px */


@media screen  and (max-width:426px){
    /* body{
        overflow: hidden;
    } */
    header{
        width: 100%;
        height: 20vh;
    
    }

    .logo img{
      
        width: 100%;
        height: 22vh;
        
    }
    .element1{
      
        top: 0.01rem;
        left: 150px;
        width: 100px;
        height: 1rem;
      
    }
    .headerDesp{
        width: 70%;
       
    }
    .element2{
    
        top: 17vh;
        right: 0px;
        width: 100px;
        height: 1rem;
      
    }
    .headerDesp h1{
        font-size: 4vw;
       
        font-weight: 600;
    }
    .sameDes{
        font-size: 3.5vw;
    }
}

                             /* Break point 376px */


@media screen  and (max-width:376px){
    /* body{
        overflow: hidden;
    } */
    header{
        width: 100%;
        height: 15vh;
    
    }

    .logo img{
       
        width: 100%;
        height: 16vh;
        
    }
    .element1{
      
        top: 0.01rem;
        left: 125px;
        width: 100px;
        height: 1rem;
       
    }
    .headerDesp{
        width: 70%;
       
    }
    .element2{
    
        top: 13vh;
        right: 0px;
        width: 100px;
        height: 1rem;
     
    }
    .headerDesp h1{
        font-size: 4vw;
        font-family: sans-serif;
        color: #292929;
        font-weight: 600;
    }
    .sameDes{
        font-size: 4vw;
    }
}


                             /* Break point 350px */


@media screen  and (max-width:350px){
    /* body{
        overflow: hidden;
    } */
    header{
        width: 100%;
        height: 12vh;
        
    }

    .logo img{
        position: relative;
        width: 100%;
        height: 15vh;
       
    }
    .element1{
        top: 0.01rem;
        left: 110px;
        width: 100px;
        height: 1rem;
    }
    .headerDesp{
        width: 70%;
    }
    .element2{
    
        top: 9vh;
        right: 0px;
        width: 100px;
        height: 1rem;
    }
    .headerDesp h1{
        font-size: 4vw;
        font-weight: 600;
    }
    .sameDes{
        font-size: 3.5vw;
    }
}



